<div class="wrapper wrapper_padding clearfix">
	<div class="col-1 about homepage_content">
		<h2>About</h2>
		<hr>
		<p>My name is Dan Rempel and I am a web developer living in Edmonton, Alberta.</p>
		<p>By day I work as a Sr. Client Support Technician for the University of Alberta, by night I freelance web development projects for my own company, <a href="http://www.dare-studios.com" target="_blank">Dare Studios</a>.</p>
		<p>I am absolutely <strong>in love</strong> with Ruby on Rails and I am dedicated to improving my Ruby and Rails expertise. It is my dream to someday work with Rails as a career.</p>
		<p>Right now I am a sponge, soaking up everything I possibly can about Ruby and Rails. I'm taking online courses, reading a few books, following online tutorials, reading the IRC channels, checking out the subreddits, and following a lot of Twitter accounts. Every week I realize I know a bit more than I did last week and it's very pleasant to realize things are beginning to slowly sink in and become commonplace. I hope to document my progress on this journey here on my rails blog!</p>
	</div>
	<div class="col-2 homepage_content">
		<h2>Recent Posts</h2>
		<hr>
		<% @posts.each do |post| %>
			<h3><%= link_to post.title, post %></h3>
			<p class="date"><%= post.created_at.strftime("%B %d, %Y") %></p>
		<%end %>
	</div>
	<div class="col-3 homepage_content">
		<h2>Projects</h2>
		<hr>
		<% @projects.each do |project| %>
			<h3><%= link_to project.title, project %></h3>
			<p class="date"><%= project.created_at.strftime("%B %d, %Y") %></p>
		<%end %>
	</div>
</div>
