<div class="container">
  <div class="row" style="margin: 3em">
    <h1>Looks like something went wrong!</h1>

    <p>We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, try refreshing.</p>
  </div>
</div>
