$dark: #2E303A;
$white: #ffffff;
$light: #9a9da4;
$highlight: #cb4b16;
$border: #D5D5D5;

#posts_wrapper {
	padding-top: 4em;
	.post {
		text-align: left;
		.date {
			font-size: 1.02em;
			margin: 0;
      display: inline-block;
      padding-right: 10px;
      color: $light;
		}
		h2 {
			margin: 0;
			font-size: 1.75em;
      font-weight: 700;
      font-family: 'Open Sans', sans-serif;
			a {
				text-decoration: none;
				color: #3A4145;
				&:hover {
					color: $highlight;
				}
			}
    }
    h2#posthead {
      display: inline-block;
     }
    span#draft {
      display: inline-block;
      padding-left: 10px;
      color: $light;
      font-size: 1.1em;
      font-weight: bold;
      text-transform: uppercase;
    }
    h4 {
      color: #707070;
      font-size: 1.2em;
      font-weight: 400;
      margin-top: 1.2em;
      margin-bottom: 1.4em;
      font-family: 'Droid Serif', 'Georgia', 'Cambria', 'Times New Roman', serif;
    }
		hr {
			margin: 4em auto;
		}
	}
  .project {
    text-align: center;
    h2 {
      font-size: 2em;
      margin-top: 1em;
    }
  }
}

// ------- Sidebar Styles
img.avatar {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 35px;
  border-radius: 50%;
  box-shadow: 0 0 7px 1px grey;
  height: 250px;
  border: 1px grey;
}

p.about_me {
  font-size: 14px;
  text-align: left;
  color: #707070;
  line-height: 18px;
  margin: 0 auto;
}

#tag_cloud {
  margin-top: 25px;
  text-align: center;
  line-height: 1.6em;
  a {
    color: $highlight;
    &:hover {
      color: black;
      text-decoration: none;
    }
  }
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
  h6 {
    text-decoration: underline;
  }
}

#popular_posts {
  h6 {
    text-align: center;
    padding-top: 25px;
    text-decoration: underline;
  }
  ul {
    list-style: none;
    padding-left: 0;
    a {
      color: $dark;
      text-align: left;
      white-space: nowrap;
      font-size: .8rem;
      font-weight: 700;
      &:hover {
        color: $highlight;
      }
    }
  }
}

#search input[type="text"] {
  border: 2px solid $light;
}

// ------- Posts Show
#post_show_content {
	header {
		text-align: center;
		.date {
			font-style: .9em;
			color: $light;
			margin: 20px 0 10px 0;
		}
		h1 {
			margin: 0;
      font-size: 3rem;
      font-weight: 700;
      color: #3A4145;
      font-family: 'Open Sans', sans-serif;
		}
	}
  p {
    font-family: 'Noto Serif', serif;
    font-size: 19px;
    a {
      color: $highlight;
      text-decoration: none;
      &:hover {
        color: black;
      }
    }
  }
  	hr {
			margin: 3em auto;
		}
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      height: auto;
    }
    .content, h2, h3, h4 {
      font-family: 'Open Sans', sans-serif;
      color: #3A4145;
      font-weight: 700;
    }
    blockquote {
      background: #f9f9f9;
      border-left: 10px solid #ccc;
      margin: 1.5em 10px;
      padding: 0.5em 10px;
      quotes: "\201C""\201D""\2018""\2019";
    }
    blockquote:before {
      color: #ccc;
      content: open-quote;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }
    blockquote p {
      display: inline;
      color: #666;
    }
    blockquote:after {
      color: #ccc;
      content: close-quote;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }
}

ul li a {
  color: $highlight;
  text-decoration: none;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

#share_box {
	text-align: center;
	p {
		padding-bottom: 0 0 1em 0;
		margin: 0;
		font-weight: 700;
		text-transform: capitalize;
		color: $dark;
		font-size: 1em;
    .redshare {
      text-transform: uppercase;
      margin-right: 5px;
    }
	}
	i {
		color: $dark;
    font-size: 16px; 
		padding: 1em 1.5em;
		&:hover {
			color: $highlight;
			cursor: pointer;
		}
	}
}

#admin_links {
	border-top: 1px solid $border;
	border-bottom: 1px solid $border;
	text-align: center;
	padding: 1em 0;
  font-size: 1.5em;
	margin: 3em 0;
	a {
		color: $light;
		margin: 0 1em;
		font-weight: 700;
		text-transform: uppercase;
		text-decoration: none;
		&:hover {
			color: $highlight;
		}
	}
}

#prevnext {
	border-top: 1px solid $border;
	border-bottom: 1px solid $border;
	text-align: center;
	padding: 1.5em 0;
  font-size: 1.5em;
	margin: 1.5em 0;
	a {
		color: $light;
		margin: 0 1em;
		font-weight: 700;
		text-transform: uppercase;
		text-decoration: none;
		&:hover {
			color: $highlight;
		}
	}
}

// ------- Pagination

.pagination:before,
.pagination:after {
	content: " ";
	display: table;
}

.pagination:after {
	clear: both;
}

.pagination {
	text-align: center;
  display: block;
	margin: 0 1.2em 3em 0;
	a, .previous_page, .current, .next_page {
		padding: .75em 1em;
		margin: 0.5em;
		border-radius: .15em;
		line-height: 20px;
		text-decoration: none;
		background: $white;
		font-weight: 700;
		font-size: .7em;
		font-style: normal;
		color: $dark;
		&:hover {
			background: $highlight;
			color: $white;
		}
	}
	.current {
		background: $highlight;
		color: $white;
	}
	.disabled {
		color: #C0C0C0;
		&:hover {
			color: #C0C0C0;
			background: $white;
		}
	}
}

@media only screen and (max-width: 71.25em) {
  #popular_posts ul a {
    display: block;
    text-align: center;
  }
  img.avatar {
    margin-top: 0;
  }
  p.about_me {
    text-align: justify;
    margin: 0 10px;
  }
}
