$dark: #2E303A;
$white: #ffffff;
$light: #9a9da4;
$highlight: #cb4b16;
$border: #D5D5D5;

#posts_wrapper {
	padding-top: 4em;
	.post {
		text-align: left;
		.date {
			font-size: .9em;
			margin: 0;
      display: inline-block;
      padding-right: 10px;
      color: $light;
		}
		h2 {
			margin: 0;
			font-size: 1.5em;
			text-transform: capitalize;
			a {
				text-decoration: none;
				color: $dark;
				&:hover {
					color: $highlight;
				}
			}
    }
    h2#posthead {
      display: inline-block;
     }
    span#draft {
      display: inline-block;
      padding-left: 10px;
      color: $light;
      font-size: 1em;
      font-weight: bold;
      text-transform: uppercase;
    }
    h4 {
      color: #707070;
      font-size: 1.05em;
      font-weight: 400;
      margin-top: 1.2em;
      margin-bottom: 1.4em;
      font-family: 'Droid Serif', 'Georgia', 'Cambria', 'Times New Roman', serif;
    }
		hr {
			margin: 3em auto;
		}
	}
  .project {
    text-align: center;
    h2 {
      font-size: 2em;
    }
  }
}

// ------- Posts Show
#post_show_content {
	header {
		text-align: center;
		.date {
			font-style: .9em;
			color: $light;
			margin: 20px 0 10px 0;
		}
		h1 {
			margin: 0;
      font-size: 2.3rem;
		}
	}
  p {
    font-family: 'Georgia', 'Cambria', 'Times New Roman', serif;
    a {
      color: $highlight;
      font-weight: 400;
      text-decoration: none;
      &:hover {
        color: black;
      }
    }
  }
	hr {
			margin: 3em auto;
		}
}

#share_box {
	text-align: center;
	p {
		padding-bottom: 0 0 1em 0;
		margin: 0;
		font-weight: 700;
		text-transform: capitalize;
		color: $dark;
		font-size: .8em;
    .redshare {
      text-transform: uppercase;
      margin-right: 5px;
    }
	}
	i {
		color: $dark;
		padding: 1em 1.5em;
		&:hover {
			color: $highlight;
			cursor: pointer;
		}
	}
}

#admin_links {
	border-top: 1px solid $border;
	border-bottom: 1px solid $border;
	text-align: center;
	padding: 1em 0;
	margin: 3em 0;
	a {
		color: $light;
		margin: 0 1em;
		font-weight: 700;
		font-style: .8em;
		text-transform: uppercase;
		text-decoration: none;
		&:hover {
			color: $highlight;
		}
	}
}

// ------- Pagination

.pagination:before,
.pagination:after {
	content: " ";
	display: table;
}

.pagination:after {
	clear: both;
}

.pagination {
	text-align: center;
	margin: 0 0 3em 0;
	a, .previous_page, .current, .next_page {
		padding: .75em 1em;
		margin: 0.5em;
		border-radius: .15em;
		line-height: 20px;
		text-decoration: none;
		background: $white;
		font-weight: 700;
		font-size: .7em;
		font-style: normal;
		color: $dark;
		&:hover {
			background: $highlight;
			color: $white;
		}
	}
	.current {
		background: $highlight;
		color: $white;
	}
	.disabled {
		color: #C0C0C0;
		&:hover {
			color: #C0C0C0;
			background: $white;
		}
	}
}
